@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/1200x/35/0f/02/350f02458ebc0e43023ae5217bdc2a7d.jpg');
  }
  
  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .title {
    margin-bottom: 1rem;
    color: #333;
  }
  
  .form-container {
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .step h2 {
    margin-bottom: 1rem;
  }
  
  input[type="text"],
  input[type="date"] {
    display: block;
    margin: 0.5rem 0;
    padding: 0.7rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  label {
    display: block;
    margin: 0.5rem 0;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
  }
  
  .btn {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #0056b3;
  }
  
  .input-error {
  border: 1px solid red;
  background-color: #ffe6e6;
}

.error-text {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
}
.form-container {
  padding-top: 100px;
}